@import url('https://fonts.cdnfonts.com/css/motiva-sans');

:root {
    --color-bg-page: #1b2838;
    --color-bg-container: #141E2A;
    --color-bg-panel-dark: #171a21;
    --color-bg-input: #32353c;
    --color-bg-input-hover: #393c43;
    --color-bg-inset: #0e1218;
    --color-text-light: #ffffff;
    --color-text-main: #acb2b8;
    --color-text-secondary: #76808c;
    --color-text-secondary-highlight: #8f98a2;
    --color-accent-link: #38b6ff;
    --color-accent-link-bg: rgba(56, 182, 255, 0.15);
    --color-accent-highlight: #67c1f5;
    --color-accent-highlight-bg: rgba(103, 193, 245, 0.2);
    --color-accent-highlight-bg-hover: rgba(103, 193, 245, 0.4);
    --color-button-blue: #4b619b;
    --color-button-blue-hover: #5c72ad;
    --color-button-red: #c94c4c;
    --color-button-red-hover: #e06c6c;
    --color-border-main: #2c313a;
    --color-border-mid: #434953;
    --color-border-light-transparent: rgba(255, 255, 255, 0.1);
    --color-border-dark-transparent: rgba(0, 0, 0, 0.4);

  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Motiva Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-bg-panel-dark);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-border-mid);
    border-radius: 10px;
    border: 3px solid var(--color-bg-panel-dark);
  }

 ::-webkit-scrollbar-thumb:hover {
    background-color: #555c6a;
  }

footer {
    background-color: var(--color-bg-panel-dark);
    color: var(--color-text-secondary);
    padding: 40px 20px 20px 20px;
    border-top: 1px solid var(--color-border-main);
}


.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.footer-column h3 {
    color: var(--color-text-light);
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.footer-column p, .footer-column li {
    font-size: 14px;
    line-height: 1.7;
}

.footer-column ul {
    list-style: none;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    color: var(--color-text-secondary);
}

.footer-column a:hover {
    color: var(--color-accent-link);
}

.footer-column a svg {
    width: 1em;
    height: 1em;
    margin-left: 6px;
    fill: currentColor;
}

.footer-bottom {
    border-top: 1px solid var(--color-border-main);;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
}

header{
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 1000; 
}

#header-top{
    background-color: var(--color-bg-panel-dark);
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 300;
    border-bottom: 1px solid var(--color-border-main);
}

#header-left{
    display: flex;
    flex-direction: row;
}

#links{
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-element{
    margin: auto;
}

header a{
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 20px;
}

.active a{
    color: var(--color-accent-link);
}

a:hover{
    text-decoration: underline;
}

#header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    margin-left: auto;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid var(--color-button-blue);
    background-color: var(--color-bg-panel-dark);
}

.auth-btn {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.2s;
}

.profile-group {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: var(--color-bg-panel-dark);
    transition: background-color 0.2s, color 0.2s;
}

.profile-group .text-part {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 100%;
}

.profile-group .img-part {
    flex: 0 0 50px; 
    width: 50px;
    height: 100%;
    transition: filter 0.2s; 
}

.profile-group .img-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile-group:hover {
    background-color: var(--color-bg-input-hover); 
    color: var(--color-text-light); 
    text-decoration: none;
}

.profile-group:hover .img-part {
    filter: brightness(1.2);
}


.auth-btn.logout-btn {
    flex: 1; 
    justify-content: center;
    padding: 0 15px;
    background-color: var(--color-button-blue);
    color: var(--color-text-light);
}

.auth-btn.logout-btn:hover {
    background-color: var(--color-button-blue-hover);
}

#header-right a:hover {
    text-decoration: none;
}

#header-bottom {
    position: absolute;
    top: 14vh;
    right: 2vh;
    z-index: 100;
}

#searchForm {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--color-border-mid);
}

#searchForm input[type="text"] {
    border: none;
    padding: 8px 12px;
    background-color: var(--color-bg-panel-dark);
    color: var(--color-text-light);
    outline: none;
    font-size: 20px;
}

#searchForm input[type="submit"] {
    border: none;
    background-color: var(--color-button-blue);
    color: var(--color-text-light);
    cursor: pointer;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

#searchForm input[type="submit"]:hover {
    background-color: var(--color-button-blue-hover);
}


#menu-toggle,#hamburger-menu {
    display: none;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    header a {
        font-size: 18px;
    }

    #header-left {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    #header-bottom {
        position: static;
        width: 100%;
        padding: 15px 15px 15px 15px;
        background-color: var(--color-bg-panel-dark);
        z-index: auto;
        transition: transform 0.4s ease;
    }
    #searchForm {
        width: 100%;
    }
    #searchForm input[type="text"] {
        flex-grow: 1;
        font-size: 16px;
    }

    #hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 35px;
        height: 30px;
        cursor: pointer;
    }

    #hamburger-menu span {
        display: block;
        height: 4px;
        width: 100%;
        background: var(--color-text-light);
        border-radius: 3px;
    }

    #links {
        position: absolute;
        top: 12vh;
        left: 0;
        width: 100%;
        z-index: 200;
        display: flex;
        flex-direction: column;
        background-color: var(--color-bg-panel-dark);
        border-top: 1px solid var(--color-border-main);
        gap: 0;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.4s ease, opacity 0.4s ease, visibility 0s 0.4s;
    }

    #links .header-element {
        width: 100%;
        padding: 0 20px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--color-border-main);
    }

    #menu-toggle:checked ~ #header-top #header-left #links {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0s;
    }

    #menu-toggle:checked ~ #header-bottom {
        transform: translateY(240px);
    }


}