body{
    background-color: #171a21;
}

#container{
    border: 1px solid red;
    min-width: 800px; 
    height: auto;
    background-color: #1B2838;
}

h1{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}